$color: #dededf;
$color_active: #2396ef;
$font_color: #535455;
$default_color: #fff;

.step-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;

    .progress {
        transition: all .4s cubic-bezier(0.19, 1, 0.22, .56);
        background-color: $color_active;
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        padding: 5px;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        border: 4px solid $color;
        border-radius: 50%;
        transition: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        cursor: pointer;
        color: $font_color;
        background-color: $default_color;
    }

    .circle.active {
        border-color: $color_active;
    }
}

.progress,
.step-container::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    border-radius: 4px;
    transform: translateY(-50%);
    z-index: -1;
}

.step-container::before {
    content: "";
    width: 100%;
    background-color: $color;
}